<div class="row">
  <div class="col-sm-10">
    <h1>Bands</h1>
    <% if !@bands.any? %>
      <h3>There are no bands, yet!</h3>
    <% else %>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Style</th>
          <th>Lead</th>
        </tr>
        <% @bands.each do |band| %>
        <tr>
          <td><a href="/bands/<%= band.id %>"><%= band.name %></a></td>
          <td><%= band.style %></td>
          <td><%= band.lead %></td>
        </tr>
        <% end %>
      </table>
    <% end %>

    <a href="/bands/new" class="btn btn-primary btn-lg">Add a Band</a>
  </div>
  <div class="col-sm-2">
    <h1>Venues</h1>
    <% if !@venues.any? %>
    <h3>There are no venues, yet!</h3>
    <% else %>
      <ul>
        <% @venues.each do |venue| %>
          <li><%= venue.name %></li>
        <% end %>
      </ul>
    </table>
    <% end %>

    <a href="/venues/new" class="btn btn-default btn-md">Add a Venue</a>
  </div>
</div>
